a {
  text-decoration: none;
  color: black;
}

.main-header {
  display: flex;
  background-color: rgb(255, 178, 178, 0.5);
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.header-title {
  font-family: cc-phat-boi-bold, sans-serif;
  font-size: 32px;
  padding: 24px;
  margin: 0;
}

.login-btn {
  font-family: "dynapuff", sans-serif;
  font-weight: 400;
  margin: 0;
  margin-right: 32px;
}

.mypage-btn {
  font-family: "dynapuff", sans-serif;
  font-weight: 400;
  margin: 0;
  margin-right: 32px;
}

.option-container {
  display: flex;
  align-items: center;
}

