.login-box_container {
  background-color: rgba(112, 112, 112, 0.143);
  height: 100vh;
}

.login-box {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  background-color: rgba(28, 28, 28, 0.763);
  border: 1px solid #252523;
}

.login_register-title {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: aliceblue;
  margin: 0;
  margin-bottom: 50px;
}

.info-box {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

.info-box label {
  color: #7f7e7a;;
  font-size: 14px;
}

.info-box input {
  font-family: "Noto Sans KR", sans-serif;
  padding: 12px 8px;
  background: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border: 1px solid lightgray;
  outline: 0;
  height: 50px;
}

.info-box input:hover {
  border-color: rgb(255, 221, 152);
}

/* .info-box input:focus + .info-box label,
.info-box input:active + .info-box label,
.info-box input:not(:placeholder-shown) + .info-box label {
  margin-bottom: 1rem;
} */

/* .info-box input:focus,
.info-box input:active {
  padding: 12px 8px 0;
} */

.info-box input::placeholder {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(192, 192, 192);
}

.login-info {
  position: relative;
  text-align: left;
}

.login-info input {
  width: 100%;
}

.login-info label {
  position: absolute;
  left: 2%;
  top: 36%;
}

.login-margin {
  margin-top: 25px;
}

.register-btn_container {
  width: 100%;
  display: flex;
}

.register-btn {
  font-family: "IBM Plex Sans KR", sans-serif;
  color: whitesmoke;
  margin: 32px 0;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.15s ease;
}

.register-btn:hover {
  background-color: rgba(255, 244, 244, 0.687);
  color: black;

}

.member-container {
  display: flex;
  list-style: none;
  padding: 0;
}

.member-box {
  width: 200px;
  padding: 16px;
  border: 1.5px solid black;
  border-radius: 4px;
}
